body {
  background: white;
  font-family: arial, sans-serif;
  background-color: #3FA9E2;
  font-size: 0.75em;
}
.cart {
 
  width: 50%;
  background-color: #CDD93F;
  top: 0em;
  right: 0em;
  margin-right: 1em;
  padding: 1em;
  border-radius: 0.25em;
  margin-bottom: 1em;
}

.cartTotal {
  position: fixed;
  width: 20%;
  background-color: #CDD93F;
  top: 0em;
  right: 0em;
  margin-right: 1em;
  padding: 1em;
  border-radius: 0.25em;
  
}
.cart table {
  border-collapse: collapse;
  width: 50%;
}

.cart td {
  border-top: 1px solid snow;
} 

.cart th, td {
  padding: 15px;
  text-align: left;
}

.cart img {
  width: 2em;
}

.cart h3 {
   display: inline;
}

.cartTotal {
  padding: 1em;
}

.cartTotal img {
  width: 2em;
}

.hidden {
  display: none;
}

.info {
  height: 15em;
}


.small {
  background-color: #E03571;
  
}

.medium {
  background-color: #53fc11f1;
}

.large {
  background-color: #053b3f;
  flex : 2;
}

.specials div {
  flex: 1;
  margin: 0em;
  padding: 1em;
  
}

.small img {
  width: 4em;
}

.medium img {
  width: 5em;
}


.large img {
  width: 7em;
  
}
.footer {
  display: flex;
}

.footer div {
  flex: 1;
  margin-top: 1em;
  padding: 1em;
  background-color: #CDD93F;
}


@media (min-width: 768px){

  .specials {
    display: flex;
  }
  
  body {
    font-size: 1em;
  }
  
}

.button{
  
  padding-left: 20px;

}

